@import url("https://fonts.googleapis.com/css2?family=Sevillana&display=swap");
:root {
  --headerBG-color: #ffffff;
  --bodyBG-color: #ffffff;
  --footerBG-color: #000000;
  --textB-color: #000000;
  --textW-color: #ffffff;
  --button-color: #000000;
  --index: 1vh + 1vw;
  --delivryGB-color: rgb(229, 229, 229);
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea,
button {
  border: none;
  background-color: transparent;
}

html {
  height: 100%;
}

body {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100vw;
  min-height: 100%;
  overflow-x: hidden;
}

Main {
  width: 100vw;
}
Main h2, Main h3, Main h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Sevillana", cursive;
  font-size: calc(var(--index) * 2);
  font-weight: 400;
  width: 100vw;
  height: 5vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: var(--bodyBG-color);
}
Main .Info {
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background-image: url(./src/about.jpg);
  background-size: cover;
  background-position: center;
}
Main .Info .oNas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
Main .Info .oNas .imgQ img {
  width: 30vw;
}
Main .Info .oNas li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 30vw;
  -webkit-box-align: last baseline;
      -ms-flex-align: last baseline;
          align-items: last baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: calc(var(--index));
  text-indent: 0;
  padding: 3%;
}

.carousel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.carousel .leftBtn {
  position: absolute;
  left: 1vw;
  z-index: 5;
  rotate: 180deg;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.carousel .leftBtn .imgL {
  width: 5vw;
}
.carousel .leftBtn:hover {
  -webkit-transform: translateX(0.5vw);
          transform: translateX(0.5vw);
}
.carousel .rightBtn {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: absolute;
  right: 1vw;
  z-index: 6;
}
.carousel .rightBtn .imgR {
  width: 5vw;
}
.carousel .rightBtn:hover {
  -webkit-transform: translateX(0.5vw);
          transform: translateX(0.5vw);
}
.carousel .gallery {
  width: 500%;
  overflow: hidden;
}
.carousel .gallery ul {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transition: margin-left 0.5s ease-in-out;
  transition: margin-left 0.5s ease-in-out;
  font-size: 0;
}
.carousel .gallery ul li {
  display: inline-block;
}
.carousel .gallery ul li img {
  width: 100vw;
}

.menu {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bodyBG-color);
  margin-bottom: 5vh;
}
.menu .price_item {
  width: 70vw;
  background-color: var(--bodyBG-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid black;
}
.menu .price_item li {
  background-color: var(--bodyBG-color);
  font-size: calc(var(--index));
  margin-top: 3vh;
}

h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Sevillana", cursive;
  font-size: calc(var(--index) * 2);
  font-weight: 400;
  width: 100vw;
  height: 5vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: var(--footerBG-color);
  color: var(--textW-color);
}

.geo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.geo .map {
  width: 100%;
}

@media screen and (max-width: 600px) {
  Main h2, Main h3, Main h4, Main h5, Main h6 {
    height: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
  Main .Info .oNas {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
  }
  Main .Info .oNas .imgQ {
    position: relative;
  }
  Main .Info .oNas li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: calc(var(--index));
    text-indent: 0;
    padding: 3%;
  }
  Main .menu .price_item li {
    margin: 1vh;
    font-size: calc(var(--index) * 0.8);
  }
}
#top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 7vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--headerBG-color);
  position: fixed;
  z-index: 3;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
#top .left {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#top .left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#top .left ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2vw;
}
#top .left ul li .btn_1 {
  font-size: calc(var(--index));
  color: var(--textB-color);
}
#top .left ul li .btn_1:hover {
  color: rgb(244, 111, 111);
}
#top .centr {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#top .centr img {
  height: 7vh;
}
#top .centr .btn_1:hover {
  cursor: pointer;
}
#top .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 100%;
}
#top .right .btn_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-wrap: nowrap;
  font-size: calc(var(--index));
  color: var(--textB-color);
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(114, 221, 162);
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
}
#top .right .btn_2:hover {
  background-color: rgba(114, 221, 162, 0.826);
  padding-left: 7%;
  padding-right: 7%;
}

.hide {
  -webkit-transform: translateY(-7vh);
          transform: translateY(-7vh);
}
.hide #top {
  -webkit-transform: translateY(-2vh);
          transform: translateY(-2vh);
}

.Pad1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  position: relative;
}
.Pad1 .prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Pad1 .prev h1 {
  font-size: calc(var(--index) * 4);
  color: var(--textW-color);
  position: absolute;
  bottom: 0;
}
.Pad1 img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1000px) {
  #top .centr .Logo {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .Header .prev h1 {
    font-size: calc(var(--index) * 2);
  }
}
@media screen and (max-width: 800px) {
  #top .centr .Logo {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .Header .prev h1 {
    font-size: calc(var(--index) * 1.5);
  }
}
@media screen and (max-width: 600px) {
  #top {
    height: 3vh;
  }
  #top .centr .Logo {
    background-color: transparent;
  }
  #top .centr .left ul li .btn_1 {
    font-size: 10px;
  }
  #top .centr .Logo {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  #top .centr .Logo .btn_1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 400px) {
  #top {
    height: 3vh;
  }
  #top .left ul li .btn_1 {
    font-size: 13px;
  }
  #top .centr .Logo {
    height: 3vh;
    width: 3vw;
  }
  #top .centr .Logo .btn_1 {
    font-size: calc(var(--index) * 2);
  }
  #top .right .btn_2 {
    font-size: calc(var(--index) * 0.5);
  }
}
.etc {
  width: 100vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: var(--footerBG-color);
  color: var(--textW-color);
  font-size: calc(var(--index));
}
.etc .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}
.etc .social #fb-img,
.etc .social #insta-img {
  height: 5vh;
  width: 5vh;
  background-color: aliceblue;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 10%;
}

@-webkit-keyframes backgroundSoc {
  100% {
    background-position: 5vh 5vh;
  }
}

@keyframes backgroundSoc {
  100% {
    background-position: 5vh 5vh;
  }
}
#fb-img:hover,
#insta-img:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgb(255, 0, 0)), color-stop(rgb(255, 174, 0)), color-stop(yellow), color-stop(green), color-stop(rgb(122, 213, 255)), color-stop(blue), color-stop(rgb(230, 0, 255)), to(rgb(255, 0, 85)));
  background: linear-gradient(90deg, rgb(255, 0, 0), rgb(255, 174, 0), yellow, green, rgb(122, 213, 255), blue, rgb(230, 0, 255), rgb(255, 0, 85));
  background-position: 0 0;
  -webkit-animation: backgroundSoc 1s infinite linear;
          animation: backgroundSoc 1s infinite linear;
}

@media screen and (max-width: 600px) {
  .etc {
    font-size: calc(var(--index) * 0.5);
  }
  .etc .social #fb-img,
  .etc .social #insta-img {
    height: 3vh;
    width: 3vh;
  }
}
@media screen and (max-width: 400px) {
  .etc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.dMain {
  width: 100vw;
  height: 90vh;
  background-color: var(--delivryGB-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.dMain h1 {
  width: 70vw;
  font-size: calc(var(--index) * 2);
  z-index: 2;
}
.dMain h1 .loader {
  position: absolute;
  width: 10%;
  margin-left: 2vw;
}
.dMain h1 .hidden {
  margin-left: 0;
  -webkit-transition: margin-left 0.5s ease-out;
  transition: margin-left 0.5s ease-out;
}