* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input,
textarea,
button {
    border: none;
    background-color: transparent;
}
html{
    height: 100%;
}
body
 {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100vw;
    min-height: 100%;
    overflow-x: hidden;
  }
  