:root {
    --headerBG-color: #ffffff;
    --bodyBG-color: #ffffff;
    --footerBG-color: #000000;
    --textB-color: #000000;
    --textW-color: #ffffff;;
    --button-color: #000000;
    --index: 1vh + 1vw; 
    --delivryGB-color: rgb(229, 229, 229);
}